{% extends 'base.html.twig' %}

{% block title %}Wild Series - All programs
{% endblock %}

{% block body %}
	<h1>{{ website }}
		-
				Index of all programs</h1>
	{% for program in programs %}
		<div>
			<h2>{{ loop.index }}
				/
				{{ program.title }}
				- Category :
				{{ program.category.name }}</h2>
			<p>{{ program.synopsis }}</p>
			{# Link to program page #}
			<a href="{{ path("program_show", { id: program.id }) }}">See program details</a>
		</div>
	{% else %}
		No program found.
	{% endfor %}

	<a href="{{ path('app_index') }}">
		Home page
	</a>
{% endblock %}
