{% extends 'base.html.twig' %}

{% block title %}Program #{{ program.id }}
{% endblock %}

{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-0">{{ program.title }}</h1>
			<p>{{ program.synopsis }}</p>
			<p>Category :
				{{ program.category.name }}</p>
			<h2>Seasons :</h2>
			{% for season in seasons %}
				<h3>
					<a href="{{ path("program_season_show", { program: program.id, season: season.id }) }}">Season
						{{ season.number }}</a>
				</h3>
			{% endfor %}
			<h2>Actors :</h2>
			<ul>
				{% for actor in program.actors %}
					<h3>
						<li>
							<a href="{{ path("actor_show", { id: actor.id }) }}">
								{{ actor.name }}</a>
						</li>
					</h3>
				{% else %}
					<li>No actour found for this program.</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<a href="{{ path('program_index') }}">
		Back to program index
	</a>
	<br>
	<a href="{{ path('category_index') }}">
		Back to category index
	</a>
{% endblock %}
